body {
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: #222;
    position:relative;
    padding: 0;
}

#map {
    background-color: red;
    border-color: black;
    float: left;
    width: 720px;
}
#node_details{
    height: 100%;
    background-color: #222;
}
#clear {
    clear:  left;
}

#legend {
    background-color: #aaa;
}
